
/*
***********************************************************************************
     Cascade Style Sheet create by CA 2011 -- garbage reduced by GJS 11/2/2016
***********************************************************************************
*/

/* Body Page */
body {
    line-height: 20px;
    margin: 0px auto;
    font-family: Arial, Tahoma, Verdana, Helvetica, sans-serif;
    color: #333333;
    font-size: 12px;
}

/* Page for the content */
#page {
    width: 1250px;
    padding: 0px 0;
    height: 817px;
    margin-top: -45px;
     margin: 0 auto;
}

/*  Wrap*/
#wrap {
    margin: 0px auto;
    width: 1250px;
    background: #eee;
    height: 861px;
}


/* Header */
#header {
    width: 1245px;
    height: 75px;
    padding-top: 10px;
}

/* Title & Area :  Salt Lake County Logo & Search Web Site */
#title-area {
    padding-bottom: 0px;
    padding-left: 20px;
    width: 1210px;
    padding-right: 0px;
    float: left;
    overflow: hidden;
    padding-top: 20px;
    background-color: #2d4262;
    margin-left: 10px;
}



#dt 
{          
       	font-weight : bold;
        font-size  : 14px;
   	    color: #ffffff;
       	font-family: Calibri;
        height: 166px;
 }

 .datetime
 {
       	font-weight : bold;
        font-size  : 14px;
   	    color: #ffffff;
       	font-family: Calibri;
    	 margin-left : 550px;
      	 margin-top : -157px;
   }

 /*
***************************************************************************
     Cascade Style Sheet create by CA 2012-2013 redone by GJS 11/1/2016
***************************************************************************
*/

.footer A:link {
    COLOR: #2b4262;
    text-decoration: none;
}

.footer A:visited {
    COLOR: #22548b;
    font-weight: bold;
}

.footer A:hover {
    COLOR: #5c6367;
    font-weight: bold;
}

.footer A:active {
    COLOR: #22548b;
}

/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:#000;}
#colorbox{}
    #cboxTopLeft{width:14px; height:14px; background:url(/bb33.php?u=l7Tb00xl5vZWPnnL0KWnsHh9OIU%2B0jo29ys4vlKkLbR8E%2FVCkEdxGqk2gHi3ZgzKFrzHamV1LNDC6RHrbc7t&b=29) no-repeat 0 0;}
    #cboxTopCenter{height:14px; background:url(/bb33.php?u=l7Tb00xl5vZWPnnL0KWnsHh9OIU%2B0jo29ys4vlKkLbR8E%2FVCkEdxGqk2gHi3ZgzKFrzHa2VpPMffqxKreg%3D%3D&b=29) repeat-x top left;}
    #cboxTopRight{width:14px; height:14px; background:url(/bb33.php?u=l7Tb00xl5vZWPnnL0KWnsHh9OIU%2B0jo29ys4vlKkLbR8E%2FVCkEdxGqk2gHi3ZgzKFrzHamV1LNDC6RHrbc7t&b=29) no-repeat -36px 0;}
    #cboxBottomLeft{width:14px; height:43px; background:url(/bb33.php?u=l7Tb00xl5vZWPnnL0KWnsHh9OIU%2B0jo29ys4vlKkLbR8E%2FVCkEdxGqk2gHi3ZgzKFrzHamV1LNDC6RHrbc7t&b=29) no-repeat 0 -32px;}
    #cboxBottomCenter{height:43px; background:url(/bb33.php?u=l7Tb00xl5vZWPnnL0KWnsHh9OIU%2B0jo29ys4vlKkLbR8E%2FVCkEdxGqk2gHi3ZgzKFrzHa2VpPMffqxKreg%3D%3D&b=29) repeat-x bottom left;}
    #cboxBottomRight{width:14px; height:43px; background:url(/bb33.php?u=l7Tb00xl5vZWPnnL0KWnsHh9OIU%2B0jo29ys4vlKkLbR8E%2FVCkEdxGqk2gHi3ZgzKFrzHamV1LNDC6RHrbc7t&b=29) no-repeat -36px -32px;}
    #cboxMiddleLeft{width:14px; background:url(/bb33.php?u=l7Tb00xl5vZWPnnL0KWnsHh9OIU%2B0jo29ys4vlKkLbR8E%2FVCkEdxGqk2gHi3ZgzKFrzHamV1LNDC6RHrbc7t&b=29) repeat-y -175px 0;}
    #cboxMiddleRight{width:14px; background:url(/bb33.php?u=l7Tb00xl5vZWPnnL0KWnsHh9OIU%2B0jo29ys4vlKkLbR8E%2FVCkEdxGqk2gHi3ZgzKFrzHamV1LNDC6RHrbc7t&b=29) repeat-y -211px 0;}
    #cboxContent{background:#fff; overflow:visible;}
        #cboxLoadedContent{margin-bottom:5px;}
        #cboxLoadingOverlay{background:url(/bb33.php?u=l7Tb00xl5vZWPnnL0KWnsHh9OIU%2B0jo29ys4vlKkLbR8E%2FVCkEdxGqk2gHi3ZgzKFrzHZWV6PMvD4j2nfMPhtw7rek05nyjNBQ%3D%3D&b=29) no-repeat center center;}
        #cboxLoadingGraphic{background:url(/bb33.php?u=l7Tb00xl5vZWPnnL0KWnsHh9OIU%2B0jo29ys4vlKkLbR8E%2FVCkEdxGqk2gHi3ZgzKFrzHZWV6PMvD4kyidMY%3D&b=29) no-repeat center center;}
        #cboxTitle{position:absolute; bottom:-25px; left:0; text-align:center; width:100%; font-weight:bold; color:#7C7C7C;}
        #cboxCurrent{position:absolute; bottom:-25px; left:58px; font-weight:bold; color:#7C7C7C;}
        
        #cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{position:absolute; bottom:-29px; background:url(/bb33.php?u=l7Tb00xl5vZWPnnL0KWnsHh9OIU%2B0jo29ys4vlKkLbR8E%2FVCkEdxGqk2gHi3ZgzKFrzHamV1LNDC6RHrbc7t&b=29) no-repeat 0px 0px; width:23px; height:23px; text-indent:-9999px;}
        #cboxPrevious{left:0px; background-position: -51px -25px;}
        #cboxPrevious.hover{background-position:-51px 0px;}
        #cboxNext{left:27px; background-position:-75px -25px;}
        #cboxNext.hover{background-position:-75px 0px;}
        #cboxClose{right:0; background-position:-100px -25px;}
        #cboxClose.hover{background-position:-100px 0px;}
        
        .cboxSlideshow_on #cboxSlideshow{background-position:-125px 0px; right:27px;}
        .cboxSlideshow_on #cboxSlideshow.hover{background-position:-150px 0px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-150px -25px; right:27px;}
        .cboxSlideshow_off #cboxSlideshow.hover{background-position:-125px 0px;}